elisa-mcp/Tools-MCPwhats.json
{
  "name": "Tools MCP LM",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Conversa_ID"
            },
            {
              "name": "tipo"
            },
            {
              "name": "profissional_id"
            },
            {
              "name": "data_inicio"
            },
            {
              "name": "data_fim"
            },
            {
              "name": "titulo"
            },
            {
              "name": "descrição"
            },
            {
              "name": "agenda_id"
            },
            {
              "name": "evento_id"
            },
            {
              "name": "WhatsApp"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3472,
        3664
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Consultar profissionais",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "00000000-0000-0000-0000-000000000000"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar profissionais"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Consultar disponibilidade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar disponibilidade"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Reagendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reagendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "00000000-0000-0000-0000-000000000000",
                    "leftValue": "={{ $json.tipo }}",
                    "rightValue": "Buscar consultas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Buscar consultas"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3648,
        3600
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "profissional_agendamento",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "agenda_id",
              "condition": "neq"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4240,
        2992
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Consultar profissionais",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "Profissionais ",
              "value": "=profissional_Id: {{ $json.id }}\nNome: {{ $json.nome_profissional }}\nAgenda_id: {{ $json.agenda_id }}\nDisponibilidade: {{ $json.disponibilidade }}\nespecialidade: {{ $json.especialidades }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4416,
        2992
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "PROFISSIONAIS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4432,
        3248
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "encontrou?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "Retorno",
              "value": "id do profissional esta incorreto, execute o buscar profissionais",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4608,
        3408
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "ID errado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "Horário ",
              "value": "={{ $json.data_inicio.toDateTime().setZone() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4944,
        3216
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "SET TIMEZONE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "Retorno",
              "value": "Agenda disponível ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4944,
        3344
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "AGENDA LIVRE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4752,
        3232
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "If"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Horário"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5088,
        3216
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4576,
        3648
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "Retorno",
              "value": "Horairio indisponível ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4752,
        3744
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Indisponivel"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "Retorno",
              "value": "Agenda id errado, consular profissionais ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4944,
        3728
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Erro ao agendar"
    },
    {
      "parameters": {
        "tableId": "agendamento_calendario",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "evento_id",
              "fieldValue": "={{ $json.id_eventoc }}"
            },
            {
              "fieldId": "agenda_id",
              "fieldValue": "={{ $json.id_agendac }}"
            },
            {
              "fieldId": "titulo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.titulo }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $('Criar evento').item.json.description }}"
            },
            {
              "fieldId": "link_evento",
              "fieldValue": "={{ $('Criar evento').item.json.htmlLink }}"
            },
            {
              "fieldId": "data_txt",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().format('dd-MM-yyyy') }}"
            },
            {
              "fieldId": "horario_txt",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().format('HH:mm') }}"
            },
            {
              "fieldId": "profissional_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.profissional_id }}"
            },
            {
              "fieldId": "data_inicio",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime() }}"
            },
            {
              "fieldId": "data_fim",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime() }}"
            },
            {
              "fieldId": "cliente_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5104,
        3536
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Adicionar agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "id",
              "value": "={{ $json.evento_id }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "Agenda_id",
              "value": "={{ $json.agenda_id }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "data",
              "value": "={{ $json.data_txt }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "Horario",
              "value": "={{ $json.horario_txt }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "descrição",
              "value": "={{ $json.descricao }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5296,
        3536
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "retorno do agendamento"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agendamento_calendario",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "evento_id",
              "condition": "eq",
              "keyValue": "={{ $json.id_eventoc }}"
            },
            {
              "keyName": "data_inicio",
              "condition": "gt",
              "keyValue": "={{ $now.toFormat('yyyy-MM-dd') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4448,
        4656
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Listar consultas",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4656,
        4656
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "tem consultas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "evento_id",
              "value": "={{ $json.evento_id }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "agenda_id",
              "value": "={{ $json.Agenda_ID }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "profissional_id",
              "value": "={{ $json.profissional_id }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "titulo",
              "value": "={{ $json.titulo }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "descrição",
              "value": "={{ $json.descricao }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "data_inicio",
              "value": "={{ $json.data_inicio.toDateTime().setZone() }}",
              "type": "string"
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "data_fim",
              "value": "={{ $json.data_fim.toDateTime().setZone() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4896,
        4560
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "dados das consultas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "Retorno",
              "value": "Não existe consultas para este cliente, sugira um novo agendamento ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4896,
        4752
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "retorno"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "agendamento_calendario",
        "filters": {
          "conditions": [
            {
              "keyName": "evento_id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.evento_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4848,
        4160
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Deletar no supabase",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "retorno",
              "value": "id do evento ou  o id da agenda esta incorreto",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4864,
        4352
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "retorno1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "retorno",
              "value": "=ststus: cancelado com sucesso\ntitulo: {{ $json.titulo }}\ndescrição: {{ $json['descrição'] }}\ndata: {{ $json.data_inicio.toDateTime().setZone() }} - {{ $json.data_fim .toDateTime().setZone()}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5040,
        4160
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "detalhes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "dados do reagendamento ",
              "value": "=Status: Reagendamento feito com sucesso\ntitulo: {{ $json.titulo }}\nDescrição: {{ $json['descrição'] }}\ndata: {{ $json.Data_Inicio }} - {{ $json.Data_Fim }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5104,
        3904
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "retorno2"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $('When Executed by Another Workflow').item.json.agenda_id }}",
          "mode": "id"
        },
        "start": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime() }}",
        "end": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime() }}",
        "additionalFields": {
          "description": "={{ $('When Executed by Another Workflow').item.json['descrição'] }} ",
          "summary": "={{ $('When Executed by Another Workflow').item.json.titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4752,
        3552
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Criar evento",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cliente_agendamento",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.WhatsApp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4272,
        4656
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Pegar Cliente",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cliente_agendamento",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('Buscar Cliente1').item.json.whatsapp }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_eventoc",
              "fieldValue": "={{ $('Atualizar Evento').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4960,
        3904
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Atualizando Cliente",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agendamento_calendario",
        "filters": {
          "conditions": [
            {
              "keyName": "evento_id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.evento_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "titulo",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.titulo }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.descrição }}"
            },
            {
              "fieldId": "data_inicio",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().setZone() }}"
            },
            {
              "fieldId": "data_fim",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime().setZone() }}"
            },
            {
              "fieldId": "data_txt",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().setZone().format('dd-MM-yyyy') }}"
            },
            {
              "fieldId": "horario_txt",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().setZone().format('HH:mm') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4752,
        3904
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Atualizando Agendamento",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "profissional_agendamento",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.profissional_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4240,
        3392
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Pegar AG Profissional",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agendamento_calendario",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "profissional_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            },
            {
              "keyName": "data_inicio",
              "condition": "gte",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime().set({hour:0,minute:0, second:0,millisecond:0}) }}"
            },
            {
              "keyName": "data_fim",
              "condition": "lte",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime().set({hour:23,minute:59, second:59,millisecond:59}) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4608,
        3232
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Disponibilidade Profissional",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cliente_agendamento",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.WhatsApp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4256,
        3648
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Buscar Cliente",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "agendamento_calendario",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "profissional_id",
              "condition": "eq",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.profissional_id }}"
            },
            {
              "keyName": "data_inicio",
              "condition": "gte",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime() }}"
            },
            {
              "keyName": "data_fim",
              "condition": "lte",
              "keyValue": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4416,
        3648
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Buscar Disponibilidade",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cliente_agendamento",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $item(0).$node[\"Buscar Cliente\"].json.whatsapp }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_agendac",
              "fieldValue": "={{ $json.creator.email }}"
            },
            {
              "fieldId": "id_eventoc",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4944,
        3536
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Atualizar Cliente",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cliente_agendamento",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $json.WhatsApp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4256,
        3904
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Buscar Cliente1",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.id_agendac }}",
          "mode": "id"
        },
        "eventId": "={{ $('When Executed by Another Workflow').item.json.evento_id }}",
        "updateFields": {
          "description": "={{ $('When Executed by Another Workflow').item.json['descrição'] }}",
          "end": "={{ $('When Executed by Another Workflow').item.json.data_fim.toDateTime() }}",
          "start": "={{ $('When Executed by Another Workflow').item.json.data_inicio.toDateTime()}}",
          "summary": "={{ $('When Executed by Another Workflow').item.json.titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4592,
        3904
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Atualizar Evento",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cliente_agendamento",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $json.WhatsApp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4272,
        4256
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Buscar Cliente2",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "LMSmartwatch"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.id_agendac }}",
          "mode": "id"
        },
        "eventId": "={{ $json.id_eventoc }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4608,
        4256
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Cancelar Evento",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Conversa_ID": "fda414ed60df4ddbb6519da3d0c8379e",
          "tipo": "Buscar consultas",
          "profissional_id": "1",
          "data_inicio": "2026-04-07T10:00:00-03:00",
          "data_fim": "2026-04-07T11:00:00-03:00",
          "titulo": "Consulta Clínica Geral - Clo Silva",
          "descrição": "Consulta Clínica Geral",
          "agenda_id": "leonardo@gmail.com",
          "evento_id": "",
          "WhatsApp": "17988142536"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Consultar profissionais",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pegar AG Profissional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Cliente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Cliente2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pegar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar profissionais": {
      "main": [
        [
          {
            "node": "PROFISSIONAIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encontrou?": {
      "main": [
        [
          {
            "node": "Disponibilidade Profissional",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID errado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET TIMEZONE": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "SET TIMEZONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AGENDA LIVRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Criar evento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Indisponivel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar agendamento": {
      "main": [
        [
          {
            "node": "retorno do agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar consultas": {
      "main": [
        [
          {
            "node": "tem consultas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tem consultas": {
      "main": [
        [
          {
            "node": "dados das consultas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar no supabase": {
      "main": [
        [
          {
            "node": "detalhes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar evento": {
      "main": [
        [
          {
            "node": "Atualizar Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Erro ao agendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Cliente": {
      "main": [
        [
          {
            "node": "Listar consultas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizando Cliente": {
      "main": [
        [
          {
            "node": "retorno2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizando Agendamento": {
      "main": [
        [
          {
            "node": "Atualizando Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar AG Profissional": {
      "main": [
        [
          {
            "node": "encontrou?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID errado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidade Profissional": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente": {
      "main": [
        [
          {
            "node": "Buscar Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Disponibilidade": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Cliente": {
      "main": [
        [
          {
            "node": "Adicionar agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente1": {
      "main": [
        [
          {
            "node": "Atualizar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Evento": {
      "main": [
        [
          {
            "node": "Atualizando Agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente2": {
      "main": [
        [
          {
            "node": "Cancelar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Evento": {
      "main": [
        [
          {
            "node": "Deletar no supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "retorno1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "17629102-597b-4509-ae4c-bf75384ea62a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3d60a6ae7bb0db78b2945be8bda47abfb2713af711b866351c5f66a51205e55"
  },
  "id": "YOUR_CREDENTIAL_ID",
  "tags": [
    {
      "updatedAt": "2026-03-10T17:56:58.587Z",
      "createdAt": "2026-03-10T17:56:58.587Z",
      "id": "YOUR_CREDENTIAL_ID",
      "name": "LM Automation"
    }
  ]
}


