utilities/de-Lembretes-Agendamento.json
{
  "name": "LEMBRETES",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -16
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "GATILHO"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "leftValue": "={{ $now.extract('hours') }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "leftValue": "={{ $now.extract('hours') }}",
              "rightValue": 19,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -80,
        -16
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Horário comercial"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Agendamentos",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "lembrete_1dia",
              "condition": "eq",
              "keyValue": "false"
            },
            {
              "keyName": "data_inicio",
              "condition": "gt",
              "keyValue": "={{ $now.set({hour:0, minute:0,second:0, millisecond:0}).plus('1','days') }}"
            },
            {
              "keyName": "data_inicio",
              "condition": "lt",
              "keyValue": "={{ $now.set({hour:23, minute:59,second:59, millisecond:59}).plus('1','days') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        64,
        -16
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "GET CONSULTAS",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        -16
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.cliente_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        64
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "GET CLIENTE",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "texto",
              "value": "=Olá {{ $json.nome }}, tudo bem?\n\nPassando pra lemmbrar da sua contulsta marcada amanha {{ $('Loop Over Items').item.json.data_inicio.toDateTime().format('dd-MM-yyyy') }} às {{ $('Loop Over Items').item.json.data_inicio.toDateTime().setZone().format('HH:mm') }}\n\nCaso qeuira cancelar basta digitar 'cancealr'.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        64
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "mensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "afASD",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "TELEFONE",
              "value": "={{ $('GET CLIENTE').item.json.telefone }}"
            },
            {
              "name": "MENSAGEM",
              "value": "={{ $json.texto }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        64
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Agendamentos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lembrete_1dia",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        64
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "FINALIZAR LEMBRETE",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        976,
        64
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Wait",
      "webhookId": "de8a1ffc-b402-419f-a865-81937ed0eade"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        384,
        -112
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## 1 DIA ANTES\n### Ajuste como desejar",
        "height": 624,
        "width": 1456,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -288
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        640
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "GATILHO1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "leftValue": "={{ $now.extract('hours') }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "leftValue": "={{ $now.extract('hours') }}",
              "rightValue": 19,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -80,
        640
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Horário comercial1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Agendamentos",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "lembrete_2hs",
              "condition": "eq",
              "keyValue": "false"
            },
            {
              "keyName": "data_inicio",
              "condition": "gt",
              "keyValue": "={{ $now.set({minute:0,second:0, millisecond:0}).plus('2','hours') }}"
            },
            {
              "keyName": "data_inicio",
              "condition": "lt",
              "keyValue": "={{ $now.set({minute:59,second:59, millisecond:59}).plus('3','hours') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        64,
        640
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "GET CONSULTAS1",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        640
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clientes",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $json.cliente_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        384,
        720
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "GET CLIENTE1",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "name": "texto",
              "value": "=Olá {{ $json.nome }}, tudo bem?\n\nPassando pra lemmbrar da sua contulsta marcada amanha {{ $('Loop Over Items1').item.json.data_inicio.toDateTime().format('dd-MM-yyyy') }} às {{ $('Loop Over Items1').item.json.data_inicio.toDateTime().setZone().format('HH:mm') }}\n\nCaso qeuira cancelar basta digitar 'cancealr'.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        720
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "mensagem1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "afASD",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "TELEFONE",
              "value": "={{ $('GET CLIENTE1').item.json.telefone }}"
            },
            {
              "name": "MENSAGEM",
              "value": "={{ $json.texto }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        720
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Agendamentos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items1').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "lembrete_2hs",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        848,
        720
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "FINALIZAR LEMBRETE1",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase  NOCODE"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        976,
        720
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Wait1",
      "webhookId": "de8a1ffc-b402-419f-a865-81937ed0eade"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        384,
        544
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## 2 HORAS ANTES\n### Ajuste como desejar",
        "height": 624,
        "width": 1456,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        368
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "GATILHO": {
      "main": [
        [
          {
            "node": "Horário comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horário comercial": {
      "main": [
        [
          {
            "node": "GET CONSULTAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CONSULTAS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET CLIENTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CLIENTE": {
      "main": [
        [
          {
            "node": "mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "FINALIZAR LEMBRETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINALIZAR LEMBRETE": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GATILHO1": {
      "main": [
        [
          {
            "node": "Horário comercial1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horário comercial1": {
      "main": [
        [
          {
            "node": "GET CONSULTAS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CONSULTAS1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET CLIENTE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CLIENTE1": {
      "main": [
        [
          {
            "node": "mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "FINALIZAR LEMBRETE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINALIZAR LEMBRETE1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a44428f3-3784-40b1-bdf6-b8f0251e817a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e88e0bf8a341e29f8b95268b96e335be1d58d1dbc25a197228b6ec3eb6c2e866"
  },
  "id": "YOUR_CREDENTIAL_ID",
  "tags": []
}

