elisa-sales-agent/Desativar-agente.json
{
  "name": "DesativarAgente",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "IdConversa"
            },
            {
              "name": "TempoInatividadeAgente"
            },
            {
              "name": "WhatsAppHumano"
            }
          ]
        }
      },
      "id": "00000000-0000-0000-0000-000000000000",
      "typeVersion": 1.1,
      "name": "DesativarAgente",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.IdConversa }}_status",
        "value": "Desativado",
        "expire": true,
        "ttl": "={{ $json.TempoInatividadeAgente }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        480,
        340
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "kNYmiTCKxb8cTkqa",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "00000000-0000-0000-0000-000000000000",
              "leftValue": "={{ $json.WhatsAppHumano }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        340
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        920,
        440
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        980,
        40
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.IdConversa }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1100,
        240
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "sPQn3vnrvUyidB97",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "messages": {
          "messageValues": [
            {
              "message": "=# Instruções | Faça um resumo da conversa realizada entre o usuário e a IA para ser repassado a um consultor especializado que irá dar seguimento nessa conversa.\n\n#Importante \n\n- Divida as mensagens de forma natural e humanizada;\n- Use quebras de linhas (\\n\\n) após pontos finais para legibilidade;\n- Para negrito (bold) use apenas um \"*\" nunca duas (exemplo: *negrito*)."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1340,
        40
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1420,
        260
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1GNZJEmvpS8YvWsl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3DE585DEC789E0E2C9304AF752FBD4C9/token/88C8DFC8ACED1468BFFD83F2/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('DesativarAgente').item.json.WhatsAppHumano }}"
            },
            {
              "name": "message",
              "value": "=⭐ Nova Solicitação de Atendimento\n\nℹ️ *IdConversa:* \n{{ $('DesativarAgente').item.json.IdConversa }}\n\n💭 *Resumo da Conversa*\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        40
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pmRoeqgoLyfbgdv5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1920,
        40
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "content": "## Desativar Agente, Fazer Resumo da Conversa e Avisar Humano\n",
        "height": 780,
        "width": 2120,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -120
      ],
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/?utm_source=template-n8n",
        "height": 126,
        "width": 593,
        "color": 7
      },
      "id": "00000000-0000-0000-0000-000000000000",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        700
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "DesativarAgente": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0bda6d52-ab66-4c0e-b10c-b60d497ea8c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c1e74a2508773c303d267161a8cfcc2f3e6da44158f431fd39db7a60433621b"
  },
  "id": "TvXhMZYJu1I9KKBC",
  "tags": [
    {
      "createdAt": "2025-06-04T21:43:16.732Z",
      "updatedAt": "2025-06-04T21:43:16.732Z",
      "id": "1iCwF9FA6lk04TJI",
      "name": "NoCode StartUp"
    }
  ]
}
